@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geist-Mono';
    background-color: #000000;
    color: #7d7d7d;
}


ul ,ol{
    list-style: none;
}

:root{
    --color-bk: #000000;
    --color-primary-300: rgb(180, 180, 180);

}

.content_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 64px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
}


.header__logo-container{
    padding: 0px 24px;
    align-items: center;
    gap: 32px;
    color: #fff !important;
}

.header__nav-list{
    display: flex;
    height: 64px;
    border-radius: 100px;
    gap: 1rem;
    align-items: center;
}

.header__nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}


.header__nav{

}

.header__nav-btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding: 24px;
    gap: 32px
}

.btn-primary{
    padding: 6px;
    height: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.btn-secondary{

}