@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist Mono", monospace;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-bk: #000000;
  --color-primary-300: rgb(180, 180, 180);
}

.content_container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0px 24px;
  font-family: "Geist Mono", monospace;
  color: #666;
}

.header__nav-compact {
  color: #7d7d7d;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #000;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__nav-item:hover {
  background-color: #f5f5f5;
  color: #000;
  border-radius: 6px;
}

.header__nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.header__nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  height: 100%;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-third {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #eaeaea;
}

.main__container {
  font-family: "Geist", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 16px 0px;
  padding: 0px 16px;
  width: 100%;
}

.main__box {
  height: auto;
  margin: 16px 0px;
  padding: 0px 16px;
  box-sizing: border-box;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.main__box-first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.main__span-one {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: 500;
  background-color: #ffebeb;
  color: #cb2a2f;
  border-radius: 500px;
  padding: 4px 12px;
}

.main__span-two {
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #171717;
}

.main__box-second {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 100%;
  gap: 24px;
}

.btn-top {
  background-color: #171717;
  color: white;
  border-radius: 500px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-top:hover {
  background-color: #333;
}

/*  
.main__span-three {
  display: flex;
  padding: 0px 6px;
  font-size: 14px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
*/

.main__span-four {
  padding: 0px 6px;
  font-size: 14px;
  border-radius: 100%;
  background-color: #fff;
  color: #171717;
  cursor: pointer;
}
